.custom-ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.custom-ul ul {
    list-style-type: circle;
    padding-left: 2.5rem;
}

.custom-ul ul ul {
    list-style-type: square;
    padding-left: 3.5rem;
}
