@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap");

@layer components {
    html,
    body {
        scroll-behavior: smooth;
    }

    .special_header {
        @apply font-playfair-display text-[80px] italic font-normal leading-[80px] tracking-[-1.6px];
    }
    .layer_header {
        @apply font-playfair-display lg:text-[100px] text-[32px] italic font-normal lg:leading-[80px] leading-10 tracking-[-1.6px] text-[#1a202c];
    }
    .body_section {
        @apply text-zinc-800 text-3xl font-light leading-9 mb-4 text-text_header;
    }
    .body_subsection {
        @apply text-zinc-800 text-base font-medium leading-normal mb-2 text-text_primary;
    }
    .body_paragraph {
        @apply mb-2 text-text_secondary;
    }
    .body_risksection {
        @apply text-zinc-800 text-2xl font-medium leading-normal mb-2 text-text_primary;
    }
    .table_header {
        @apply text-zinc-800 text-sm font-medium leading-tight mb-2 text-text_primary;
    }
    .text_table_important {
        color: #1a202c !important;
    }
    .text_table_body {
        @apply text-text_primary text-xs lg:text-base font-normal leading-tight;
    }
    .font_playfair {
        @apply font-playfair-display italic font-normal;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

section {
    scroll-margin-top: 80px;
}

/* ::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 9999px;
    background: #ececec;
}
::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 9999px;
} */

:root {
    --color-risk-low-bg: #dffbcc;
    --color-risk-low-text: #3d9f11;
    --color-risk-low-icon: #52c41a;
    --color-risk-medium-bg: #feffc1;
    --color-risk-medium-text: #d19d00;
    --color-risk-medium-icon: #f4cd00;
    --color-risk-high-bg: #ffdfdf;
    --color-risk-high-text: #ed1517;
    --color-risk-high-icon: #ed1517;
    --color-risk-critical-bg: #ff9d9e;
    --color-risk-critical-text: #a50f11;
    --color-risk-critical-icon: #c80d0f;
    --color-risk-unverified-bg: #ff9d9e;
    --color-risk-unverified-text: #a50f11;
    --color-risk-unverified-icon: #c80d0f;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --chart-6: 180 100% 35%; /* Deep Teal */
        --chart-7: 30 90% 55%; /* Pumpkin Orange */
        --chart-8: 270 70% 75%; /* Lavender */
        --chart-9: 150 100% 35%; /* Lime Green */
        --chart-10: 330 90% 45%; /* Deep Pink */
        /* Layers */
        --chart-ark: 14 100% 57%;
        --chart-bevm: 187 100% 42%;
        --chart-bitlayer: 48 100% 50%;
        --chart-bob: 174 100% 29%;
        --chart-bsquared-network: 302 59% 65%;
        --chart-btc: 14 99% 55%;
        --chart-core: 20 100% 67%;
        --chart-internet-computer: 0 100% 60%;
        --chart-libre: 88 50% 63%;
        --chart-lightning-network: 0 59% 51%;
        --chart-liquid: 271 100% 81%;
        --chart-mercury: 0 59% 61%;
        --chart-merlin: 120 61% 44%;
        --chart-nomic: 45 100% 61%;
        --chart-rollux: 24 100% 73%;
        --chart-rootstock: 229 71% 67%;
        --chart-stacks: 271 100% 71%;
        /* Staking */
        --chart-lombard: 172 62% 51%;
        --chart-lorenzo: 205 29% 41%;
        --chart-solv-lsts: 263 99% 65%;
        --chart-pump: 216 75% 51%;
        --chart-bedrock: 299 36% 56%;
        --chart-unirouter: 273 96% 9%; /*274 100% 50%;*/
        /* Crosschain BTC */
        --chart-dlc-link-dlcbtc: 284 84% 35%;
        --chart-fire-fbtc: 238 100% 67%;
        --chart-solv-solvbtc: 263 99% 65%;
        --chart-coinbase-cbbtc: 221 100% 52%;
        --chart-kraken-kbtc: 257 83% 60%;
        --chart-threshold-tbtc: 286 99% 56%;
        --chart-bitgo-wbtc: 262 5% 52%;
        --chart-binance-btcb: 51 89% 58%;
        --chart-rootstock-rbtc: 31 86% 53%;
        --chart-liquid-l-btc: 165 54% 57%;
        --chart-core-chain-corebtc: 262 5% 52%;
        --chart-bitgo-wbtc: 252 26% 18%;
        --chart-lightning-btc: 267 100% 49%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --chart-6: 180 100% 35%; /* Deep Teal */
        --chart-7: 30 90% 55%; /* Pumpkin Orange */
        --chart-8: 270 70% 75%; /* Lavender */
        --chart-9: 150 100% 35%; /* Lime Green */
        --chart-10: 330 90% 45%; /* Deep Pink */
        --chart-ark: 14 100% 67%;
        --chart-bevm: 187 100% 52%;
        --chart-bitlayer: 48 100% 60%;
        --chart-bob: 174 100% 39%;
        --chart-bsquared: 302 59% 75%;
        --chart-btc: 14 99% 55%;
        --chart-core: 20 100% 77%;
        --chart-internet-computer: 0 100% 60%;
        --chart-libre: 88 50% 63%;
        --chart-lightning-network: 0 59% 51%;
        --chart-liquid: 271 100% 81%;
        --chart-mercury: 0 59% 61%;
        --chart-merlin: 120 61% 44%;
        --chart-nomic: 45 100% 61%;
        --chart-rollux: 24 100% 73%;
        --chart-rootstock: 229 71% 67%;
        --chart-stacks: 271 100% 81%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .watermark,
    .watermark-agg {
        position: relative;
        overflow: visible;
    }

    .watermark::after,
    .watermark-agg::after {
        content: "";
        display: block;
        pointer-events: none;
        width: 100px;
        height: 80px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 20%);
        background-image: url("/watermark.svg");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.1;
    }

    .watermark-agg::after {
        transform: translate(-50%, -80%);
    }

    @media (max-width: 1000px) {
        .watermark::after,
        .watermark-agg::after {
            top: 10%;
        }
    }
}
