@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html,
    body {
        scroll-behavior: smooth;
    }

    .special_header {
        @apply font-playfair-display text-[80px] italic font-normal leading-[80px] tracking-[-1.6px];
    }

    .layer_header {
        @apply font-playfair-display lg:text-[100px] text-[32px] italic font-normal lg:leading-[80px] leading-10 tracking-[-1.6px] text-[#1a202c];
    }

    .body_section {
        @apply text-zinc-800 text-3xl font-light leading-9 mb-4 text-text_header;
    }

    .body_subsection {
        @apply text-zinc-800 text-base font-medium leading-normal mb-2 text-text_primary;
    }

    .body_paragraph {
        @apply mb-2 text-text_secondary;
    }

    .body_risksection {
        @apply text-zinc-800 text-2xl font-medium leading-normal mb-2 text-text_primary;
    }

    .table_header {
        @apply text-zinc-800 text-sm font-medium leading-tight mb-2 text-text_primary;
    }

    .text_table_important {
        color: #1a202c !important;
    }

    .text_table_body {
        @apply text-text_primary text-xs lg:text-base font-normal leading-tight;
    }

    .font_playfair {
        @apply font-playfair-display italic font-normal;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .legend-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .legend-scrollbar::-webkit-scrollbar-thumb {
        background-color: hsl(var(--muted-foreground));
        border-radius: 8px;
        border: 2px solid hsl(var(--background));
    }

    .legend-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: hsl(var(--primary));
    }

    .legend-scrollbar::-webkit-scrollbar-track {
        background: hsl(var(--background));
        border-radius: 8px;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --chart-6: 180 100% 35%;
        /* Deep Teal */
        --chart-7: 30 90% 55%;
        /* Pumpkin Orange */
        --chart-8: 270 70% 75%;
        /* Lavender */
        --chart-9: 150 100% 35%;
        /* Lime Green */
        --chart-10: 330 90% 45%;
        /* Deep Pink */
        /* Layers */
        --chart-ark: 14 100% 57%;
        --chart-bevm: 187 100% 42%;
        --chart-bitlayer: 48 100% 50%;
        --chart-bob: 174 100% 29%;
        --chart-bsquared-network: 302 59% 65%;
        --chart-bsquared: 302 59% 75%;
        --chart-btc: 14 99% 55%;
        --chart-btc-multisig: 14 99% 55%;
        --chart-core: 20 100% 67%;
        --chart-internet-computer: 0 100% 60%;
        --chart-internetcomputer: 0 100% 60%;
        --chart-libre: 88 50% 63%;
        --chart-lightning: 0 59% 51%;
        --chart-liquid: 271 100% 81%;
        --chart-mercury-layer: 0 59% 61%;
        --chart-merlin: 120 61% 44%;
        --chart-nomic: 45 100% 61%;
        --chart-rollux: 24 100% 73%;
        --chart-rootstock: 229 71% 67%;
        --chart-stacks: 271 100% 71%;
        --chart-ethereum: 0 0% 55%;
        --chart-avalanche: 354 86% 58%;
        --chart-base: 221 100% 50%;
        --chart-berachain: 21 54% 33%;
        --chart-arbitrum: 215 37% 20%;
        --chart-hyperliquid: 166 94% 79%;
        --chart-bnbsmartchain: 46 91% 49%;
        --chart-bnb-smart-chain: 46 91% 49%;
        --chart-solana: 163 83% 50%;
        --chart-optimism: 353 100% 51%;
        --chart-mantle: 0 0% 75%;
        --chart-osmosis: 271 100% 24%;
        --chart-tron: 359 100% 51%;
        --chart-sui: 211 100% 65%;
        --chart-cardano: 222 100% 34%;
        --chart-corn: 32 92% 53%;
        --chart-zeta: 165 92% 16%;
        --chart-polygonpos: 266 94% 70%;
        --chart-polygonzkevm: 266 100% 48%;
        --chart-polygon-pos: 266 94% 70%;
        --chart-polygon-zkevm: 266 100% 48%;
        --chart-zksync: 228 73% 49%;
        --chart-fantom: 219 100% 55%;
        --chart-gnosis: 155 46% 15%;
        --chart-scroll: 32 100% 93%;
        --chart-sonic: 58 100% 93%;
        --chart-starknet: 240 46% 30%;
        --chart-taiko: 350 46% 30%;
        --chart-hemi: 54 82% 53%;
        --chart-fractal: 40 78% 47%;
        --chart-mezo: 342 100% 50%;
        /* Wrappers */
        /* LSTs */
        --chart-lombard-lbtc: 172 62% 51%;
        --chart-lombard-lbtcv: 210 62% 51%;
        --chart-lorenzo-stbtc: 205 29% 41%;
        --chart-solv-xsolvbtc: 27 90% 56%;
        --chart-solv-solvbtcena: 263 99% 65%;
        --chart-pump-pumpbtc: 216 75% 51%;
        --chart-bedrock-unibtc: 299 36% 56%;
        --chart-unirouter-ubtc: 274 100% 50%;
        --chart-babylon: 27 90% 56%;
        --chart-acorn-abtc: 126 63% 13%;
        --chart-kinza-kbtc: 47 75% 56%;
        --chart-babypie-mbtc: 178 45% 21%;
        /* Derivatives */
        --chart-21-shares-21btc: 21 100% 67%;
        --chart-ibtc-network-ibtc: 284 84% 35%;
        --chart-fire-bitcoin-fbtc: 238 100% 67%;
        --chart-solv-solvbtc: 263 99% 65%;
        --chart-solv-solvbtcb: 220 99% 65%;
        --chart-solv-solvbtcm: 180 99% 65%;
        --chart-solv-solvbtccore: 262 15% 72%;
        --chart-solv-solvbtcjup: 163 83% 50%;
        --chart-coinbase-cbbtc: 221 100% 52%;
        --chart-kraken-kbtc: 257 83% 60%;
        --chart-threshold-tbtc: 286 99% 56%;
        --chart-bitgo-wbtc: 222 15% 52%;
        --chart-binance-btcb: 51 89% 58%;
        --chart-rootstock-rbtc: 31 86% 53%;
        --chart-liquid-l-btc: 165 54% 57%;
        --chart-core-corebtc: 262 5% 52%;
        --chart-lightning-btc: 267 100% 49%;
        --chart-avalanche-btcb: 354 86% 58%;
        --chart-axelar-axlbtc: 0 0% 95%;
        --chart-bitlayer-wbtc: 48 100% 50%;
        --chart-merlin-wbtc: 120 61% 44%;
        --chart-merlin-m-btc: 120 81% 54%;
        --chart-layerbank-btc: 202 21% 36%;
        --chart-layerbank-ubtc: 201 33% 61%;
        --chart-xlink-abtc: 24 95% 53%;
        --chart-alex-xbtc: 232 39% 25%;
        --chart-stacks-sbtc: 271 100% 71%;
        --chart-internet-computer-ckbtc: 0 100% 60%;
        --chart-corn-btcn: 32 92% 53%;
        --chart-bevm-wbtc: 187 100% 52%;
        --chart-libre-pbtc: 88 50% 63%;
        --chart-manta-mbtc: 317 72% 66%;
        --chart-obelisk-obtc: 134 59% 58%;
        --chart-allo-allobtc: 33 93% 54%;
        --chart-badger-ebtc: 285 100% 60%;
        --chart-pstake-ybtc: 25 94% 49%;
        --chart-hemi-hemibtc: 54 82% 53%;
        --chart-lorenzo-enzobtc: 205 29% 41%;
        --chart-bedrock-brbtc: 309 46% 56%;
        --chart-tron-btc: 359 100% 51%;
        --chart-zeta-btcbtc: 165 92% 16%;
        --chart-zeus-zbtc: 301 97% 76%;
        --chart-unit-ubtc: 166 94% 79%;
        --chart-simple-sbtc: 40 78% 47%;
        /* Staking */
        --chart-babylon-staked-btc: 27 100% 24%;
        --chart-core-staked-btc: 20 100% 67%;
        /* Risk */
        --risk-background-under-review: 216 16.1% 93.9%;
        --risk-background-low: 95 85% 89%;
        --risk-background-medium: 61 96.7% 88%;
        --risk-background-high: 45 100% 88.8%;
        --risk-background-very-high: 0 100% 93.7%;
        --risk-background-critical: 359 100% 80.8%;

        --risk-icon-under-review: 222 14.1% 66.7%;
        --risk-icon-low: 100 76.6% 43.5%;
        --risk-icon-medium: 52 93.4% 47.5%;
        --risk-icon-high: 34 95.3% 50.2%;
        --risk-icon-very-high: 359 100% 65.1%;
        --risk-icon-critical: 359 87.8% 41.8%;

        --risk-text-under-review: 227 12.8% 58.6%;
        --risk-text-low: 101 80.7% 34.5%;
        --risk-text-medium: 47 96.1% 40.4%;
        --risk-text-high: 29 98.2% 43.7%;
        --risk-text-very-high: 359 85.7% 50.6%;
        --risk-text-critical: 359 83.3% 35.3%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --chart-6: 180 100% 35%;
        /* Deep Teal */
        --chart-7: 30 90% 55%;
        /* Pumpkin Orange */
        --chart-8: 270 70% 75%;
        /* Lavender */
        --chart-9: 150 100% 35%;
        /* Lime Green */
        --chart-10: 330 90% 45%;
        /* Deep Pink */
        --chart-ark: 14 100% 67%;
        --chart-bevm: 187 100% 52%;
        --chart-bitlayer: 48 100% 60%;
        --chart-bob: 174 100% 39%;
        --chart-bsquared: 302 59% 75%;
        --chart-btc: 14 99% 55%;
        --chart-core: 20 100% 77%;
        --chart-internet-computer: 0 100% 60%;
        --chart-libre: 88 50% 63%;
        --chart-lightning-network: 0 59% 51%;
        --chart-liquid: 271 100% 81%;
        --chart-mercury: 0 59% 61%;
        --chart-merlin: 120 61% 44%;
        --chart-nomic: 45 100% 61%;
        --chart-rollux: 24 100% 73%;
        --chart-rootstock: 229 71% 67%;
        --chart-stacks: 271 100% 81%;
        /* Risk */
        --risk-background-under-review: 228 8.6% 34.3%;
        --risk-background-low: 104 57.3% 20.2%;
        --risk-background-medium: 35 72.5% 25.7%;
        --risk-background-high: 18 80.7% 26.5%;
        --risk-background-very-high: 359 74.4% 30.6%;
        --risk-background-critical: 359 87.8% 41.8%;

        --risk-icon-under-review: 222 14.1% 66.7%;
        --risk-icon-low: 100 76.6% 43.5%;
        --risk-icon-medium: 52 93.4% 47.5%;
        --risk-icon-high: 34 95.3% 50.2%;
        --risk-icon-very-high: 359 100% 65.1%;
        --risk-icon-critical: 359 87.8% 41.8%;

        --risk-text-under-review: 217 15.8% 73.9%;
        --risk-text-low: 99 74.4% 55.5%;
        --risk-text-medium: 54 95.8% 52.9%;
        --risk-text-high: 40 100% 56.3%;
        --risk-text-very-high: 359 100% 69.6%;
        --risk-text-critical: 359 85.7% 50.6%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .watermark,
    .watermark-agg {
        position: relative;
        overflow: visible;
    }

    .watermark::after,
    .watermark-agg::after {
        content: "";
        display: block;
        pointer-events: none;
        width: 100px;
        height: 80px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 20%);
        background-image: url("/watermark.svg");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.1;
    }

    .watermark-agg::after {
        transform: translate(-50%, -80%);
    }

    @media (max-width: 1000px) {
        .watermark::after,
        .watermark-agg::after {
            top: 10%;
        }
    }
}
